*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*commons*/
h1{
    margin: 20px 0;
    text-align: center;
}
/*utilities*/
.green-bg{
    background-color: green;
}
.red-bg{
    background-color: red;
}
/*layout*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    width: 300px;
    padding: 5px;
}
.product{
    padding-bottom: 20px;
    position: relative;
}
.product img{
    width: 100%;
}

.discount{
    position: absolute;
    top: 0;
    right: 0;
}

.favorite{
    display: none;
}
.product:hover .favorite{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 10%;
    color: red;
    width: 100%;
    opacity: 1;
}